In [1]:
import pandas as pd ;
import numpy as np ;

In [2]:
df = pd.read_csv('Market_Basket.csv' , header = None )
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(7501, 20)

In [4]:
data_clean = df.dropna( how = 'all' )
data_clean = data_clean.apply( lambda x : [ item for item in x if item != '' and  pd.notna(item) ] )
data_clean

0     [shrimp, burgers, chutney, turkey, mineral wat...
1     [almonds, meatballs, avocado, milk, french fri...
2     [avocado, eggs, energy bar, shallot, green tea...
3     [vegetables mix, whole wheat rice, eggs, honey...
4     [green grapes, green tea, cooking oil, oil, mi...
5     [whole weat flour, cooking oil, black tea, cho...
6     [yams, low fat yogurt, salmon, shampoo, white ...
7     [cottage cheese, eggs, toothpaste, frozen smoo...
8     [energy drink, chicken, escalope, soup, energy...
9     [tomato juice, extra dark chocolate, milk, fre...
10    [low fat yogurt, olive oil, eggs, pancakes, to...
11    [green tea, salt, low fat yogurt, fresh bread,...
12    [honey, fresh bread, hot dogs, low fat yogurt,...
13    [salad, green tea, hot dogs, salt, mint, oil, ...
14    [mineral water, cereals, salmon, candy bars, c...
15    [salmon, chocolate, antioxydant juice, frozen ...
16    [antioxydant juice, frozen smoothie, frozen sm...
17    [frozen smoothie, protein bar, spinach, protei...
18                       [spinach, mayonnaise, cereals]
19                                          [olive oil]
dtype: object

In [5]:
from apyori import apriori

In [6]:
data = data_clean.values.tolist()

In [12]:
rules = apriori(transactions = data , min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)
results = list(rules)

In [8]:
def inspect(results):
    lhs         =[tuple(result[2][0][0])[0] for result in results]
    rhs         =[tuple(result[2][0][1])[0] for result in results]
    supports    =[result[1] for result in results]
    confidences =[result[2][0][2] for result in results]
    lifts        =[result[2][0][3] for result in results]
    return list (zip(lhs, rhs, supports, confidences, lifts))


resultStore = pd.DataFrame(inspect(results), columns = ["Left hand side", "Right hand side", "Support", "Confidence", "Lift"])

In [9]:
resultStore

    Left hand side    Right hand side  Support  Confidence      Lift
0          burgers              cream     0.10    1.000000  3.333333
1          burgers       dessert wine     0.10    1.000000  6.666667
2          burgers         fresh tuna     0.10    1.000000  6.666667
3          burgers  frozen vegetables     0.10    1.000000  3.333333
4          burgers      grated cheese     0.10    1.000000  5.000000
..             ...                ...      ...         ...       ...
110       tomatoes        water spray     0.15    0.500000  3.333333
111       tomatoes  whole wheat pasta     0.25    0.833333  3.333333
112         turkey        water spray     0.05    0.500000  3.333333
113         turkey  whole wheat pasta     0.10    1.000000  4.000000
114    water spray  whole wheat pasta     0.15    1.000000  4.000000

[115 rows x 5 columns]

In [10]:
top_rules = resultStore.nlargest(n=10, columns="Lift")
print(top_rules)

   Left hand side Right hand side  Support  Confidence       Lift
12        burgers          turkey     0.10    1.000000  10.000000
1         burgers    dessert wine     0.10    1.000000   6.666667
2         burgers      fresh tuna     0.10    1.000000   6.666667
7         burgers         pickles     0.10    1.000000   6.666667
28   dessert wine      fresh tuna     0.15    1.000000   6.666667
33   dessert wine         pickles     0.15    1.000000   6.666667
38   dessert wine          turkey     0.10    0.666667   6.666667
45     fresh tuna         pickles     0.15    1.000000   6.666667
50     fresh tuna          turkey     0.10    0.666667   6.666667
91        pickles          turkey     0.10    0.666667   6.666667